$color: (
  main-cream: #f5f2ef,
  main-pink: #deccc8,
  main-black: #323232,
  main-khaki: #aeb5b4,
);

$font-family: (
  main: "Rebecca",
  sub1: "NanumL",
  sub2: "NanumR",
);

$font-size: (
  head-small: 15px,
  head-large: 30px,
  page-top: 50px,
);
